
  body{
    font-family: Arial, sans-serif;
    background-color: #fdf6f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form{
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  h1{
    text-align: top;
    margin-bottom: 20px;
    color: rgb(252, 249, 249);
    padding: 10px;
    border-radius: 10px;
  }

  label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .button-group{
  display: flex;
  justify-content: flex-start; 
  margin-top: 15px;
  gap: 10px; 
}

input[type="submit"],input[type="button"]{
  width: auto; 
  padding: 6px 14px;
  font-size: 14px;
  background-color: #4b2e2e; 
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
input[type="submit"],input[type="button"]{
  background-color: #4b2e2e; 
}