body{
  font-family: Arial, sans-serif;
  background-color: #f8f5f2;
  margin: 0;
  text-align: center;
}

header{
  background-color: #7b4b2a;
  color: white;
  padding: 20px;
  border-radius: 25px;
}
h3{
    background-color: #7b4b2a;
    color: white;
    padding: 20px;
    border-radius: 25px;
}

a{
  color: #eeeae7;
}

img{
  margin: 10px;
  border-radius: 8px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

footer{
  background-color: #7b4b2a;
  padding: 10px;
  border-radius: 25px;
}
